[submodule "Assets/CrowdBot_robots"]
	path = Assets/CrowdBot_robots
	url = https://github.com/FabienGrzeskowiakInria/CrowdBot_robots.git
[submodule "CrowdBot-Scenarios"]
	path = CrowdBot-Scenarios
	url = https://github.com/FabienGrzeskowiakInria/CrowdBot-Scenarios.git
[submodule "Assets/CrowdBot_Scenes"]
	path = Assets/CrowdBot_Scenes
	url = https://github.com/FabienGrzeskowiakInria/CrowdBot_Scenes.git
[submodule "Assets/CrowdBot_UMANS"]
	path = Assets/CrowdBot_UMANS
	url = https://github.com/FabienGrzeskowiakInria/CrowdBot_UMANS.git
[submodule "CrowdBot_ExtraPackages"]
	path = CrowdBot_ExtraPackages
	url = https://github.com/FabienGrzeskowiakInria/CrowdBot_ExtraPackages.git
